@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');


#header {
  color: #ffffff;
  background-image: url('../images/HeadImage.jpeg');
  padding-top: 10%;
  padding-bottom: 10%;
  background-position: center;
  background-repeat: no-repeat;
}

#heading-text {
  font-size: 100px;
  color: #14A76C;
}

#slogan {
  color: #ffffff;
  font-size: 20px;
}

.padding {
  margin-top: 7px;
}

.nav {

  background-color: #272727;
}

.nav-link {
  color: #14A76C;
}

.jumbotron {
  background-color: #747474;
}

body {
  background-color: #272727;
  color: #ffffffff;
  font-family: 'Nunito Sans', sans-serif;
}

h2, h3, h4, h5, h6 {
  color: #14A76C;
}

a {
  color: #14A76C;
}

a:hover {
  color: #000000;
}

hr {
  background-color: #ffffff;
 }
