@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');


#header {
  background-image: url('../images/HeadImage.jpeg');
  background-color: #303030;
  padding-top: 10%;
  padding-bottom: 10%;
  background-position: center;
  background-repeat: no-repeat;
}

#heading-text {
  font-size: 100px;
  color: #14A76C;
}

#slogan {
  color: #FFE400;
  font-size: 20px;
}

#timetable {
  color: #ffffffff;
}

.padding {
  margin-top: 7px;
}

.nav {

  background-color: #272727;
}

.nav-link {
  color: #FF652F;
}

.form-control {
  background-color: #747474;
  color: #ffffff;
}

.form-control:focus {
  background-color: #747474;
  border-color: #FF652F;
  color: #ffffff;
}

.placeholder {
  color: #ffffff;
}

.btn {
  background-color: #747474;
  color: #ffffff;
}

.btn:hover {
  background-color: #FF652F;
}

body {
  background-color: #272727;
  color: #747474;
  font-family: 'Nunito Sans', sans-serif;
}

h2, h3, h4, h5, h6 {
  color: #14A76C;
}

a {
  color: #14A76C;
}

a:hover {
  color: #FFE400;
}

legend {
    color: #FF652F;
}
